# Config options for logger sample app
#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
source "Kconfig.zephyr"

source "${ZEPHYR_BASE}/../nrf/applications/asset_tracker_v2/src/modules/Kconfig.data_module"
