#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

mainmenu "Debug module Unity test"

menu "Debug module configuration"

config UUT_PARAM_CHECK
	bool "Enabled function parameter check"

endmenu

rsource "../../src/modules/Kconfig.debug_module"
source "Kconfig.zephyr"
